#PRAKTIKUM 8
# Evaluasi Beberapa Algoritma Klasifikasi

Tujuan :
Setelah mengikuti praktikum ini praktikan
1.   Memahasi Evaluasi beberapa metrik untuk mengukur kinerja klasifikasi
2.   Mahasiswa dapat memahami confisin matrik dan perananya untuk evaluasi klasifikasi
3. Memehami dan mampu menggunakan evaluasi k-fold

Nama  : Danisha Rafifah Nawawi

NIM   : 215150207111074

Kelas : PPM A

##Dasar Teori

Validasi klasifikasi

Metode klasifikasi dibangun untuk dapat belajar dan diharapakan dapat membuat prediksi atau keputusan suatu data baru berdasarkan data yang sudah ada. Proses pembelajaran terhadap dataset yang sudah ada untuk mendapatkan model. Selanjutnya suatu data baru yang belum teridentifikasi dapat ditentukan label atau kelasnya berdasarkan model yang telah dibangun. 
Proses pembelajaran yang dibangun terhadap suatu datasaet dilakukan dengan cara membagi suatu data menjadi dua bagian yakni sebagian digunakan sebagai data pelatihan dan sebagian lainnya sebagai data validasi. Besaran jumlah masing-masing data pelatihan dan data validasi dapat ditentukan (50%,50%) atau (75%,25%).
Tahap selanjutnya data pelatihan akan digunakan untuk membagun model dengan menentukan parameter terbaik dari masing-masing model berdasrakan dataset yang ada. Kinerja terbaik dari suatu model yang dikembangkan diukur menggunakan beberap tolok ukur sebagai berikut :
- presison
- recall
- specifity
- akurasi
Masing-masing metrik tersebut ditentukan berdasarkan matrik kebingungan.

Confusion matrik
Mtriks kebingungan atau matriks kesalahan adalah suatu tabel yang merepresentasikan kinerja suatu algoritma. Setiap baris matriks mewakili instance di kelas yang diprediksi sementara setiap kolom mewakili instance di kelas yang sebenarnya (atau sebaliknya).

#Beberapa tahapan dalam valisasi klasifikasi

Beberapa metode klasifikasi yang telah dipelajari mempunyai kelebihan dan kekurannya. Perbandingan kinerja antar metode klasifikasi ini diukur menggunakan beberapa metrik.  Pada praktikum ini akan dibahas beberapa metrik untuk mengukur kinerja klasifikasi. 
Tahapan untuk mengevaluasi suatu metode klasifikasi dilakukan sebagai berikut :
- Pisahkan set data validasi.
- Siapkan test harness untuk menggunakan validasi silang 10 kali lipat.
- Buat beberapa model berbeda untuk memprediksi spesies dari pengukuran bunga
- Pilih model terbaik.

##1. Tentukan metode klasifikasi yang akan dievaluasi

In [4]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.svm import SVC

In [5]:
models = []
models.append(('KNN', KNeighborsClassifier()))
models.append(('NB', GaussianNB()))
models.append(('SVM', SVC(gamma='auto')))
# evaluate each model in turn
results = []
names = []

##2. Baca dataset
Pada contoh ini terdapat tiga buah dataset yakni :
- dataR2
- iris data 
- breast cancer

Kita akan gunakan dataR2 sebagai contoh sedangkan dua data berikunya akan digunakan sabagai latihan.

In [6]:
!wget https://archive.ics.uci.edu/ml/machine-learning-databases/00451/dataR2.csv

--2023-05-10 06:30:25--  https://archive.ics.uci.edu/ml/machine-learning-databases/00451/dataR2.csv
Resolving archive.ics.uci.edu (archive.ics.uci.edu)... 128.195.10.252
Connecting to archive.ics.uci.edu (archive.ics.uci.edu)|128.195.10.252|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 7665 (7.5K) [application/x-httpd-php]
Saving to: ‘dataR2.csv’

dataR2.csv          100%[===================>]   7.49K  --.-KB/s    in 0s

2023-05-10 06:30:25 (46.8 MB/s) - ‘dataR2.csv’ saved [7665/7665]

In [7]:
!wget https://gist.githubusercontent.com/netj/8836201/raw/6f9306ad21398ea43cba4f7d537619d0e07d5ae3/iris.csv

--2023-05-10 06:30:27--  https://gist.githubusercontent.com/netj/8836201/raw/6f9306ad21398ea43cba4f7d537619d0e07d5ae3/iris.csv
Resolving gist.githubusercontent.com (gist.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to gist.githubusercontent.com (gist.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 3975 (3.9K) [text/plain]
Saving to: ‘iris.csv’

iris.csv            100%[===================>]   3.88K  --.-KB/s    in 0s

2023-05-10 06:30:27 (40.5 MB/s) - ‘iris.csv’ saved [3975/3975]

In [8]:
!wget https://raw.githubusercontent.com/frnkldgnwn/utp-ppm/main/breast_cancer.csv

--2023-05-10 06:30:29--  https://raw.githubusercontent.com/frnkldgnwn/utp-ppm/main/breast_cancer.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.110.133, 185.199.108.133, 185.199.111.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.110.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 3664 (3.6K) [text/plain]
Saving to: ‘breast_cancer.csv’

breast_cancer.csv   100%[===================>]   3.58K  --.-KB/s    in 0s

2023-05-10 06:30:29 (37.3 MB/s) - ‘breast_cancer.csv’ saved [3664/3664]

In [9]:
import pandas as pd
import numpy as np
dataset = pd.read_csv('dataR2.csv')
dataset

,Age,BMI,Glucose,Insulin,HOMA,Leptin,Adiponectin,Resistin,MCP.1,Classification
0,48,23.500000,70,2.707,0.467409,8.8071,9.702400,7.99585,417.114,1
1,83,20.690495,92,3.115,0.706897,8.8438,5.429285,4.06405,468.786,1
2,82,23.124670,91,4.498,1.009651,17.9393,22.432040,9.27715,554.697,1
3,68,21.367521,77,3.226,0.612725,9.8827,7.169560,12.76600,928.220,1
4,86,21.111111,92,3.549,0.805386,6.6994,4.819240,10.57635,773.920,1
...,...,...,...,...,...,...,...,...,...,...
111,45,26.850000,92,3.330,0.755688,54.6800,12.100000,10.96000,268.230,2
112,62,26.840000,100,4.530,1.117400,12.4500,21.420000,7.32000,330.160,2
113,65,32.050000,97,5.730,1.370998,61.4800,22.540000,10.33000,314.050,2
114,72,25.590000,82,2.820,0.570392,24.9600,33.750000,3.27000,392.460,2
115,86,27.180000,138,19.910,6.777364,90.2800,14.110000,4.35000,90.090,2

##3.1 Membuat Set Data Validasi
Tujuan evaluasi adalah memperkirakan keakuratan model terbaik pada data tak terlihat dengan mengevaluasinya pada data tak terlihat aktual. Evaluasi ini dilakukan dengan cara membagi dataset menjadi dua bagian yakni sebagian digunakan sebagai data latih dan sebagian yang lain digunakan sebagai data uji. Beberapa praktikum sebelumnya telah dipraktekkan dengan menggunakan metode train_test_split : 
X_train, X_validation, Y_train, Y_validation = train_test_split(X, y, test_size=0.20, random_state=1)

Sebelum membuat data latih dan data uji. Langkah pertama pisahkan antara data attribute dan data label suatu dataset. Karena datasaet data2R terdiri dari 9 attribut dan 1 label.  Maka kita catat X sebagai data dan Y sebagai label.

In [10]:
from sklearn.model_selection import train_test_split
array = dataset.values
X = array[:,0:9]
y = array[:,9]
X_train, X_validation, Y_train, Y_validation = train_test_split(X, y, test_size=0.20, random_state=1, shuffle=True)

##3.2 K-Fold Cross Validation
k-Fold Cross-Validation Validasi silang adalah prosedur pengambilan sampel ulang yang digunakan untuk mengevaluasi model pembelajaran mesin pada sampel data terbatas. Prosedur ini memiliki parameter tunggal yang disebut k yang mengacu pada jumlah grup yang akan dipecah menjadi sampel data tertentu. Karena itu, prosedur ini sering disebut k-fold cross-validation. Ketika nilai spesifik untuk k dipilih, nilai tersebut dapat digunakan sebagai pengganti k dalam referensi ke model, seperti k = 10 menjadi validasi silang 10 kali lipat.

Validasi silang terutama digunakan dalam pembelajaran mesin terapan untuk memperkirakan kemampuan model pembelajaran mesin pada data yang tidak terlihat. Yaitu, menggunakan sampel terbatas untuk memperkirakan bagaimana performa model secara umum saat digunakan untuk membuat prediksi pada data yang tidak digunakan selama pelatihan model.

Prosedur umumnya adalah sebagai berikut:
- Acak kumpulan data berdasarkan id
- Pisahkan kumpulan data menjadi kelompok k
- Untuk setiap grup unik:
  - Ambil kelompok sebagai kelompok data uji
  - Ambil kelompok yang tersisa sebagai kumpulan data pelatihan
  - Catat hasil pengujian masing-masing group

K-Fold ini digunakan untuk validasi model yang digunakan. Evaluasi dilakukan pada dataset latih. Pada praktikum ini digunakan k=10, berarti akan membagi dataset latih menjadi 10 bagian. Satu bagian digunakan untuk testing dan sisanya sebagai data latih.

In [11]:
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import StratifiedKFold
for name, model in models:
  kfold = StratifiedKFold(n_splits=10, random_state=1, shuffle=True)
  cv_results = cross_val_score(model, X_train, Y_train, cv=kfold, scoring='accuracy')
  results.append(cv_results)
  names.append(name)
  print('%s: %f (%f)' % (name, cv_results.mean(), cv_results.std()))

KNN: 0.487778 (0.143540)
NB: 0.662222 (0.125629)
SVM: 0.465556 (0.047778)

##4. Buat Prediksi

Kita harus memilih algoritma yang akan digunakan untuk membuat prediksi.

##4.1 Membuat Prediksi
Kita dapat menyesuaikan model pada seluruh dataset pelatihan dan membuat prediksi pada dataset validasi.

In [12]:
model = SVC(gamma='auto')
model.fit(X_train, Y_train)
predictions = model.predict(X_validation)

# 4.2 Evaluasi Prediksi
Kami dapat mengevaluasi prediksi dengan membandingkannya dengan hasil yang diharapkan dalam set validasi, lalu menghitung akurasi klasifikasi, serta matriks kebingungan dan laporan klasifikasi.

In [13]:
from sklearn.datasets import make_classification
X, y = make_classification(n_samples=1000, n_features=20, n_informative=15, n_redundant=5, random_state=1)

In [14]:
from sklearn.metrics import classification_report
print(classification_report(Y_validation, predictions))

              precision    recall  f1-score   support

         1.0       0.25      1.00      0.40         6
         2.0       0.00      0.00      0.00        18

    accuracy                           0.25        24
   macro avg       0.12      0.50      0.20        24
weighted avg       0.06      0.25      0.10        24

/usr/local/lib/python3.10/dist-packages/sklearn/metrics/_classification.py:1344: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.10/dist-packages/sklearn/metrics/_classification.py:1344: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.10/dist-packages/sklearn/metrics/_classification.py:1344: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

##Tugas :

1. Lakukan perbandingan klasifikasi antara SVM, Naive Bayes, KNN untuk dataset iris dan breast cancer
2. Pada kedua dataset lakukan proses normaslisai data dan preproses data untuk menengani data yang hilang jika ada.

**Preproses**

In [15]:
def imputasi(df_in):
  df_input = df_in.copy()
  list_columns=df_input.columns
  class_column=list_columns[-1]
  for column in list_columns[:-1]:
   df_input[column]=df_input[column].fillna(df_input.groupby(class_column) [column].transform('mean'))
  return df_input

**Normalisasi**

In [16]:
def minmax(df_in):
  list_fitur = df_in.columns[:-1]
  for fitur in list_fitur:
    max = df_in[fitur].max()
    min = df_in[fitur].min()
    df_in[fitur] = (df_in[fitur]-min)/(max-min)
  return df_in

In [17]:
def zscore(df_in):
  df_input=df_in.copy()
  list_fitur = df_input.columns[:-1]
  for fitur in list_fitur:
    df_input[fitur] = ((df_input[fitur]-df_input[fitur].mean())/df_input[fitur].std())
  return df_input

In [18]:
def cetak_rentang(df_in):
  list_fitur = df_in.columns[:-1]
  for fitur in list_fitur:
    max = df_in[fitur].max()
    min = df_in[fitur].min()
    print("Rentang fitur",fitur,"adalah",max-min)

**IRIS DATASET**

In [19]:
iris = pd.read_csv('iris.csv')
iris

     sepal.length  sepal.width  petal.length  petal.width    variety
0             5.1          3.5           1.4          0.2     Setosa
1             4.9          3.0           1.4          0.2     Setosa
2             4.7          3.2           1.3          0.2     Setosa
3             4.6          3.1           1.5          0.2     Setosa
4             5.0          3.6           1.4          0.2     Setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  Virginica
146           6.3          2.5           5.0          1.9  Virginica
147           6.5          3.0           5.2          2.0  Virginica
148           6.2          3.4           5.4          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica

[150 rows x 5 columns]

In [20]:
iris =iris.replace(0.0,np.NaN)

In [21]:
imputasi_iris = imputasi(iris)

In [22]:
imputasi_iris.isnull().values.any()

False

In [23]:
cetak_rentang(iris)

Rentang fitur sepal.length adalah 3.6000000000000005
Rentang fitur sepal.width adalah 2.4000000000000004
Rentang fitur petal.length adalah 5.9
Rentang fitur petal.width adalah 2.4

In [24]:
minmax_iris = minmax(imputasi_iris)
zscore_iris = zscore(imputasi_iris)

In [25]:
cetak_rentang(minmax_iris)

Rentang fitur sepal.length adalah 1.0
Rentang fitur sepal.width adalah 1.0
Rentang fitur petal.length adalah 1.0
Rentang fitur petal.width adalah 1.0

In [26]:
cetak_rentang(zscore_iris)

Rentang fitur sepal.length adalah 4.347478876827385
Rentang fitur sepal.width adalah 5.506275853266691
Rentang fitur petal.length adalah 3.342211468203973
Rentang fitur petal.width adalah 3.1486242385179914

Kita akan menggunakan normalisaasi minmax dikarenakan hasil yang lebih baik

In [27]:
minmax_iris.head()

   sepal.length  sepal.width  petal.length  petal.width variety
0      0.222222     0.625000      0.067797     0.041667  Setosa
1      0.166667     0.416667      0.067797     0.041667  Setosa
2      0.111111     0.500000      0.050847     0.041667  Setosa
3      0.083333     0.458333      0.084746     0.041667  Setosa
4      0.194444     0.666667      0.067797     0.041667  Setosa

In [28]:
array_iris = minmax_iris.values
X_iris = array_iris[:,0:4]
y_iris = array_iris[:,4]
X_iris_train, X_iris_validation, Y_iris_train, Y_iris_validation = train_test_split(X_iris, y_iris, test_size = 0.2, random_state = 1, shuffle=True)

In [29]:
for name, model in models:
  kfold = StratifiedKFold(n_splits = 10, random_state = 1, shuffle=True)
  cv_results = cross_val_score(model, X_iris_train, Y_iris_train, cv=kfold, scoring='accuracy')
  results.append(cv_results)
  names.append(name)
  print('%s: %f (%f)' % (name, cv_results.mean(), cv_results.std()))

KNN: 0.950000 (0.040825)
NB: 0.950000 (0.055277)
SVM: 0.941667 (0.053359)

In [30]:
model = SVC(gamma='auto')
svc = model.fit(X_iris_train, Y_iris_train)
prediction = svc.predict(X_iris_validation)

In [31]:
X_iris, y_iris = make_classification(n_samples=1000, n_features=20, n_informative
=15, n_redundant=5, random_state=1)
from sklearn.metrics import classification_report
print(classification_report(Y_iris_validation, prediction))

              precision    recall  f1-score   support

      Setosa       1.00      1.00      1.00        11
  Versicolor       1.00      0.92      0.96        13
   Virginica       0.86      1.00      0.92         6

    accuracy                           0.97        30
   macro avg       0.95      0.97      0.96        30
weighted avg       0.97      0.97      0.97        30

**BreastCancer Dataset**

In [32]:
bc = pd.read_csv('breast_cancer.csv')
bc

,id,clump_thickness,cell_size,cell_shape,marginal_adhesion,epithelial_cell_size,bare_nucklei,bland_chromatin,normal_nucleoli,mitoses,diagnosis
0,1000025,5.0,1.0,NaN,1.0,NaN,1.0,3.0,1.0,1.0,benign
1,1002945,5.0,4.0,4.0,5.0,7.0,NaN,3.0,NaN,1.0,benign
2,1015425,3.0,1.0,1.0,1.0,NaN,2.0,3.0,1.0,1.0,benign
3,1016277,6.0,8.0,8.0,1.0,3.0,NaN,3.0,7.0,1.0,benign
4,1017023,4.0,1.0,1.0,3.0,NaN,1.0,3.0,1.0,NaN,benign
...,...,...,...,...,...,...,...,...,...,...,...
95,1167439,2.0,3.0,4.0,4.0,2.0,5.0,2.0,5.0,1.0,malignant
96,1168359,8.0,2.0,3.0,NaN,6.0,3.0,7.0,1.0,1.0,malignant
97,1168736,10.0,10.0,10.0,10.0,10.0,1.0,8.0,8.0,8.0,malignant
98,1169049,7.0,3.0,4.0,4.0,3.0,3.0,3.0,2.0,7.0,malignant
99,1170419,10.0,NaN,10.0,8.0,2.0,10.0,NaN,1.0,1.0,malignant

In [33]:
bc = bc.replace(0.0,np.NaN)

In [34]:
imputasi_bc = imputasi(bc)

In [35]:
cetak_rentang(imputasi_bc)

Rentang fitur id adalah 170394
Rentang fitur clump_thickness adalah 9.0
Rentang fitur cell_size adalah 9.0
Rentang fitur cell_shape adalah 9.0
Rentang fitur marginal_adhesion adalah 9.0
Rentang fitur epithelial_cell_size adalah 9.0
Rentang fitur bare_nucklei adalah 9.0
Rentang fitur bland_chromatin adalah 8.0
Rentang fitur normal_nucleoli adalah 9.0
Rentang fitur mitoses adalah 9.0

In [36]:
minmax_bc = minmax(imputasi_bc)

In [37]:
cetak_rentang(minmax_bc)

Rentang fitur id adalah 1.0
Rentang fitur clump_thickness adalah 1.0
Rentang fitur cell_size adalah 1.0
Rentang fitur cell_shape adalah 1.0
Rentang fitur marginal_adhesion adalah 1.0
Rentang fitur epithelial_cell_size adalah 1.0
Rentang fitur bare_nucklei adalah 1.0
Rentang fitur bland_chromatin adalah 1.0
Rentang fitur normal_nucleoli adalah 1.0
Rentang fitur mitoses adalah 1.0

In [38]:
minmax_bc.head()

,id,clump_thickness,cell_size,cell_shape,marginal_adhesion,epithelial_cell_size,bare_nucklei,bland_chromatin,normal_nucleoli,mitoses,diagnosis
0,0.000000,0.444444,0.000000,0.070707,0.000000,0.128019,0.000000,0.25,0.000000,0.000000,benign
1,0.017137,0.444444,0.333333,0.333333,0.444444,0.666667,0.041344,0.25,0.040404,0.000000,benign
2,0.090379,0.222222,0.000000,0.000000,0.000000,0.128019,0.111111,0.25,0.000000,0.000000,benign
3,0.095379,0.555556,0.777778,0.777778,0.000000,0.222222,0.041344,0.25,0.666667,0.000000,benign
4,0.099757,0.333333,0.000000,0.000000,0.222222,0.128019,0.000000,0.25,0.000000,0.012626,benign

In [39]:
array_bc = minmax_bc.values
X_bc = array_bc[:,0:10]
y_bc = array_bc[:,10]
X_bc_train, X_bc_validation, Y_bc_train, Y_bc_validation = train_test_split(X_bc, y_bc, test_size = 0.2, random_state = 1, shuffle=True)

In [40]:
for name, model in models:
  kfold = StratifiedKFold(n_splits = 10, random_state = 1, shuffle=True)
  cv_results = cross_val_score(model, X_bc_train, Y_bc_train, cv=kfold, scoring='accuracy')
  results.append(cv_results)
  names.append(name)
  print('%s: %f (%f)' % (name, cv_results.mean(), cv_results.std()))

KNN: 0.925000 (0.100000)
NB: 0.900000 (0.108972)
SVM: 0.950000 (0.082916)

In [41]:
model = SVC(gamma='auto')
svc = model.fit(X_bc_train, Y_bc_train)
prediction = svc.predict(X_bc_validation)

In [42]:
X_bc, y_bc = make_classification(n_samples=1000, n_features=20, n_informative
=15, n_redundant=5, random_state=1)
from sklearn.metrics import classification_report
print(classification_report(Y_bc_validation, prediction))

              precision    recall  f1-score   support

      benign       1.00      1.00      1.00         9
   malignant       1.00      1.00      1.00        11

    accuracy                           1.00        20
   macro avg       1.00      1.00      1.00        20
weighted avg       1.00      1.00      1.00        20