# Praktikum Pengantar Pembelajaran Mesin


---
## Bab 4. Klasifikasi Naive Bayes

### 1) Import Data

Unduh dataset yang akan digunakan pada praktikum kali ini. Anda dapat menggunakan aplikasi wget untuk mendowload dataset dan menyimpannya dalam Google Colab. Jalankan cell di bawah ini untuk mengunduh dataset

In [ ]:
! wget https://gist.githubusercontent.com/netj/8836201/raw/6f9306ad21398ea43cba4f7d537619d0e07d5ae3/iris.csv

--2023-03-22 14:25:46--  https://gist.githubusercontent.com/netj/8836201/raw/6f9306ad21398ea43cba4f7d537619d0e07d5ae3/iris.csv
Resolving gist.githubusercontent.com (gist.githubusercontent.com)... 185.199.111.133, 185.199.108.133, 185.199.110.133, ...
Connecting to gist.githubusercontent.com (gist.githubusercontent.com)|185.199.111.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 3975 (3.9K) [text/plain]
Saving to: ‘iris.csv.1’

iris.csv.1          100%[===================>]   3.88K  --.-KB/s    in 0s

2023-03-22 14:25:47 (63.6 MB/s) - ‘iris.csv.1’ saved [3975/3975]

Setelah dataset berhasil diunduh, langkah berikutnya adalah membaca dataset dengan memanfaatkan fungsi **readcsv** dari library pandas. Lakukan pembacaan berkas csv ke dalam dataframe dengan nama **data** menggunakan fungsi **readcsv**. Jangan lupa untuk melakukan import library pandas terlebih dahulu

In [ ]:
import pandas as pd
import numpy as np
data = pd.read_csv('iris.csv')



Cek isi dataset Anda dengan menggunakan perintah **head()**

In [ ]:
data.head()

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa

## 2) Membagi data menjadi data latih dan data uji

Metode pembelajaran mesin memerlukan dua jenis data :


1.   Data latih : Digunakan untuk proses training metode klasifikasi
2.   Data uji : Digunakan untuk proses evaluasi metode klasifikasi

Data uji dan data latih perlu dibuat terpisah (mutualy exclusive) agar hasil evaluasi lebih akurat.

Data uji dan data latih dapat dibuat dengan cara membagi dataset dengan rasio tertentu, misalnya 80% data latih dan 20% data uji.

Library Scikit-learn memiliki fungsi [train_test_split](https://scikit-learn.org/stable/modules/generated/sklearn.model_selection.train_test_split.html) pada modul **model_selection** untuk membagi dataset menjadi data latih dan data uji. Bagilah dataset anda menjadi dua, yaitu **data_latih** dan **data_uji**.

In [ ]:
from sklearn.model_selection import train_test_split
data_latih,data_uji = train_test_split(data,test_size=0.2)

Tampilkan banyaknya data pada **data_latih** dan **data_uji**. Seharusnya **data_latih** terdiri dari 120 data, dan **data_uji** terdiri dari 30 data

In [ ]:
print(data_uji.shape[0])
print(data_latih.shape[0])

30
120

Pisahkan label/kategori dari data uji menjadi variabel tersendiri. Beri nama variabelnya  **label_uji**

In [ ]:
label_uji = data_uji.pop('variety')

In [ ]:
data_uji.head

<bound method NDFrame.head of      sepal.length  sepal.width  petal.length  petal.width
127           6.1          3.0           4.9          1.8
101           5.8          2.7           5.1          1.9
63            6.1          2.9           4.7          1.4
109           7.2          3.6           6.1          2.5
68            6.2          2.2           4.5          1.5
116           6.5          3.0           5.5          1.8
79            5.7          2.6           3.5          1.0
2             4.7          3.2           1.3          0.2
84            5.4          3.0           4.5          1.5
123           6.3          2.7           4.9          1.8
10            5.4          3.7           1.5          0.2
106           4.9          2.5           4.5          1.7
78            6.0          2.9           4.5          1.5
57            4.9          2.4           3.3          1.0
0             5.1          3.5           1.4          0.2
50            7.0          3.2           4.7          1.4
18            5.7          3.8           1.7          0.3
108           6.7          2.5           5.8          1.8
70            5.9          3.2           4.8          1.8
141           6.9          3.1           5.1          2.3
4             5.0          3.6           1.4          0.2
99            5.7          2.8           4.1          1.3
34            4.9          3.1           1.5          0.2
67            5.8          2.7           4.1          1.0
74            6.4          2.9           4.3          1.3
132           6.4          2.8           5.6          2.2
122           7.7          2.8           6.7          2.0
35            5.0          3.2           1.2          0.2
135           7.7          3.0           6.1          2.3
97            6.2          2.9           4.3          1.3>

## 3) Menghitung Prior

Tahapan pertama pada algoritma Naive Bayes adalah perhitungan prior. Prior suatu kelas merupakan peluang awal munculnya kelas tersebut. Atau dengan kata lain, prior merupakan frekuensi relatif dari suatu kelas terhadap keseluruhan data. 

Buatlah fungsi bernama **hitung_prior** yang berfungsi menghitung nilai prior dari masing-masing kelas yang terdapat pada data latih. Fungsi ini menerima input berupa list kelas dari data latih.

In [ ]:
from collections import Counter
def hitung_prior(list_kelas):
  n_data = len(list_kelas)
  prior = Counter(list_kelas)
  for key in prior.keys():
    prior[key]=prior[key]/n_data
  return prior

Ujilah fungsi **hitung_prior** menggunakan kelas dari variabel **data_latih**. Amati hasilnya

In [ ]:
prior=hitung_prior(data_latih['variety'])
print(prior)

Counter({'Setosa': 0.35833333333333334, 'Virginica': 0.325, 'Versicolor': 0.31666666666666665})

## 4) Menghitung *likelihood*

Praktikum kali ini mengimplementasikan metode Naive Bayes menggunakan datset iris. Semua fitur pada dataset iris memiliki tipe numerik. Dengan demikian, perhitungan *likelihood* dilakukan menggunakan Gaussian Model.

Tahapan yang perlu dilakukan sebelum perhitungan *likelihood* adalah menghitung rata-rata dan deviasi standar masing-masing fitur per kelas. Buatlah fungsi **hitung_rata2_std_kelas** yang berfungsi menghitung rata-rata dan standar deviasi per fitur dan kelas

In [ ]:
def hitung_rata2_std_kelas(input_data):
  list_columns = input_data.columns[:-1]
  class_columns_name = input_data.columns[-1]
  list_class = set(input_data[class_columns_name])
  rata2 = {}
  std = {}
  for column in list_columns:
    for a_class in list_class:
      rata2[(a_class, column)] = input_data.loc[input_data[class_columns_name] == a_class][column].mean()
      std[(a_class, column)] = input_data.loc[input_data[class_columns_name] == a_class][column].std()
  return (rata2, std)

Buatlah fungsi **hitung_likelihood_gaussian** yang bertujuan menghitung nilai likelihood suatu nilai terhadap rata-rata dan deviasi standar tertentu.

In [ ]:
import math
def hitung_likelihood_gaussian(data,rata2,std):
  hasil=(1/math.sqrt(2*math.pi*(std**2))) * math.exp((-1*((data-rata2)**2))/(2*(std**2)))
  return hasil

## 5) Proses *training*
Proses training pada Naive Bayes dengan model Gaussian dilakukan untuk menghitung prior serta  rata-rata dan deviasi standar pada masing-msaing fitur dan kelas.

In [ ]:
def training_naive_bayes_gaussian(data_latih):
  class_column_name = data_latih.columns[-1]
  prior = hitung_prior(data_latih[class_column_name])
  (rata2,std) = hitung_rata2_std_kelas(data_latih)
  list_class = set(data_latih[class_column_name])
  list_columns=data_latih.columns[:-1]
  model = {}
  model['prior'] = prior
  model['rata2'] = rata2
  model['std'] = std
  model['list_class'] = list_class
  model['list_columns'] = list_columns
  return model

Lakukanlah proses training dan simpan hasil training pada variabel **model**

In [ ]:
model = training_naive_bayes_gaussian(data_latih)

## 6) Proses *testing*
Proses testing dilakukan dengan menghitung nilai posterior dari data uji berdasarkan nilai model yang diperoleh saat training. Nilai posterior diperoleh dari perkalian prior dengan *likelihood* masing-masing fiturnya. Setelah itu, penentuan kelas data uji dilakukan berdasarkan nilai posterior terbesar

In [ ]:
def testing_naive_bayes_gaussian(model, data_uji):
  prior = model['prior']
  rata2 = model['rata2']
  std = model['std']
  list_class = model['list_class']
  list_columns = model['list_columns']
  posterior = dict.fromkeys(list_class, 1)
  for a_class in list_class:
    for column in list_columns:
      posterior[a_class] = posterior[a_class] * hitung_likelihood_gaussian(data_uji[column], rata2[(a_class, column)], std[(a_class, column)])
  kelas_uji = max(posterior, key=posterior.get)
  return kelas_uji

Ujilah fungsi **testing_naive_bayes_gaussian** menggunakan data uji pertama. Bandingkan hasilnya dengan nilai label sebenarnya.

In [ ]:
indeks_uji = 0
prediksi = testing_naive_bayes_gaussian(model,data_uji.iloc[indeks_uji])
print(prediksi)
print(label_uji.iloc[indeks_uji])

Virginica
Virginica

Lakukan pengujian untuk semua data uji. Selanjutnya bandingkan dengan label sebenarnya untuk menghitung berapa banyak data uji yang berhasil diprediksi dengan benar

In [ ]:
prediksi_total =[]
for i in range(data_uji.shape[0]):
  prediksi_total.append(testing_naive_bayes_gaussian(model,data_uji.iloc[i]))
print("Total prediksi benar: ",sum(prediksi_total==label_uji))

Total prediksi benar:  28

## TUGAS
Pada tugas kali ini Anda akan menggunakan dataset **[Car Evaluation Dataset](https://archive.ics.uci.edu/ml/datasets/Car+Evaluation)** yang telah dimodifikasi. Fitur-fitur yang ada bertipe kategori sebagai berikut:
1. **buying**. Merupakan harga beli mobil. Nilai : vhigh, high, med, low
2. **maint**. Menandakan biaya perawatan mobil. Nilai: vhigh, high, med, low
3. **lug_boot**. Menandakan ukuran bagasi. Nilai: small, med, big
4. **safety**. Menandakan skor keamanan mobil. Nilai:  low, med, high
5. **class**. Merupakan kelas data. Nilai: unacc, acc, good, vgood

Download dataset dari https://dataset-ppm.s3.amazonaws.com/car_sample.csv dan letakkan dalam variabel **data_tugas**.

In [ ]:
!wget https://gist.githubusercontent.com/Arceister/a890983a3c3f151eebf5702d870d93a7/raw/a4ed5bf0d779a8c8b8cda7145c44e1a36fe8f7ca/car_evaluation.csv

--2023-03-22 14:54:13--  https://gist.githubusercontent.com/Arceister/a890983a3c3f151eebf5702d870d93a7/raw/a4ed5bf0d779a8c8b8cda7145c44e1a36fe8f7ca/car_evaluation.csv
Resolving gist.githubusercontent.com (gist.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to gist.githubusercontent.com (gist.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 51915 (51K) [text/plain]
Saving to: ‘car_evaluation.csv’

car_evaluation.csv  100%[===================>]  50.70K  --.-KB/s    in 0.01s

2023-03-22 14:54:13 (4.48 MB/s) - ‘car_evaluation.csv’ saved [51915/51915]

In [ ]:
import pandas as pd
data = pd.read_csv('car_evaluation.csv')
data.head()

  buying  maint doors persons lug_boot safety  class
0  vhigh  vhigh     2       2    small    low  unacc
1  vhigh  vhigh     2       2    small    med  unacc
2  vhigh  vhigh     2       2    small   high  unacc
3  vhigh  vhigh     2       2      med    low  unacc
4  vhigh  vhigh     2       2      med    med  unacc

Bagi data menjadi data latih dan uji dengan nama **tugas_latih** dan **tugas_uji** dengan rasio 70%:30%

In [ ]:
from sklearn.model_selection import train_test_split
tugas_latih,tugas_uji = train_test_split(data,test_size=0.3)

Pisahkan label/kategori dari data uji menjadi variabel tersendiri. Beri nama variabelnya **tugas_label_uji**

In [ ]:
tugas_label_uji = tugas_uji.pop('class')

Hitunglah nilai prior dari data latih dan simpan nilainya pada variabel bernama **prior_tugas**. Anda dapat menggunakan fungsi **hitung_prior** yang telah Anda buat.

In [ ]:
prior_tugas = hitung_prior(tugas_latih['class'])
print(prior_tugas)

Counter({'unacc': 0.7055417700578991, 'acc': 0.22084367245657568, 'vgood': 0.03970223325062035, 'good': 0.03391232423490488})

Buatlah fungsi bernama **hitung_likelihood_multinomial** dengan parameter input berupa data latih. Fungsi ini bertujuan menghitung nilai likelihood pada masing-masing kolom pada data latih. Operasi-operasi yang perlu dilakukan pada fungsi ini adalah:


1.   Mendapatkan daftar kolom data
2.   Mendapatkan nama kolom kelas pada data (kolom terakhir pada data)
3.   Mendapatkan nama-nama kelas pada data (unik).
4.   Menghitung likelihood pada masing-masing kolom, nilai kolom, dan nilai kelas

Sebagai saran, Anda dapat menggunakan struktur data dictionary untuk menyimpan nilai likelihood. Key pada dictionary tersebut adalah tuple(nama kolom, nilai pada kolom, nama kelas). Petunjuk penggunaan dictionary dengan key berupa tuple dapat dibaca [di sini](https://stackoverflow.com/questions/1938614/in-what-case-would-i-use-a-tuple-as-a-dictionary-key).

In [72]:
def hitung_likelihood_multinomial(data_latih):
  #tulis kode Anda disini
  list_columns = data_latih.columns[:-1]
  class_columns_name = data_latih.columns[-1]
  list_class = set(data_latih[class_columns_name])
  likelihood={}
  for column in list_columns:
    for column_values in set(data_latih[column]):
      for class_name in list_class:
        count = ((data_latih[column] == column_values) & (data_latih[class_columns_name] == class_name)).sum()
        likelihood_a = count / (data_latih[class_columns_name] == class_name).sum()
        likelihood[(column, column_values, class_name)] = likelihood_a
  return likelihood

Ujilah fungsi **hitung_likelihood_multinomial** dengan parameter input berupa variabel **tugas_latih**

In [74]:
likelihood = hitung_likelihood_multinomial(tugas_latih)
print(likelihood)

{('buying', 'vhigh', 'vgood'): 0.0, ('buying', 'vhigh', 'good'): 0.0, ('buying', 'vhigh', 'unacc'): 0.30363423212192264, ('buying', 'vhigh', 'acc'): 0.19101123595505617, ('buying', 'high', 'vgood'): 0.0, ('buying', 'high', 'good'): 0.0, ('buying', 'high', 'unacc'): 0.2708089097303634, ('buying', 'high', 'acc'): 0.2808988764044944, ('buying', 'low', 'vgood'): 0.5833333333333334, ('buying', 'low', 'good'): 0.6585365853658537, ('buying', 'low', 'unacc'): 0.21805392731535755, ('buying', 'low', 'acc'): 0.24344569288389514, ('buying', 'med', 'vgood'): 0.4166666666666667, ('buying', 'med', 'good'): 0.34146341463414637, ('buying', 'med', 'unacc'): 0.20750293083235638, ('buying', 'med', 'acc'): 0.2846441947565543, ('maint', 'high', 'vgood'): 0.1875, ('maint', 'high', 'good'): 0.0, ('maint', 'high', 'unacc'): 0.26025791324736225, ('maint', 'high', 'acc'): 0.2883895131086142, ('maint', 'low', 'vgood'): 0.3958333333333333, ('maint', 'low', 'good'): 0.6585365853658537, ('maint', 'low', 'unacc'): 0.2227432590855803, ('maint', 'low', 'acc'): 0.22846441947565543, ('maint', 'vhigh', 'vgood'): 0.0, ('maint', 'vhigh', 'good'): 0.0, ('maint', 'vhigh', 'unacc'): 0.2895662368112544, ('maint', 'vhigh', 'acc'): 0.1797752808988764, ('maint', 'med', 'vgood'): 0.4166666666666667, ('maint', 'med', 'good'): 0.34146341463414637, ('maint', 'med', 'unacc'): 0.22743259085580306, ('maint', 'med', 'acc'): 0.30337078651685395, ('doors', '3', 'vgood'): 0.22916666666666666, ('doors', '3', 'good'): 0.24390243902439024, ('doors', '3', 'unacc'): 0.24150058616647127, ('doors', '3', 'acc'): 0.2397003745318352, ('doors', '4', 'vgood'): 0.3333333333333333, ('doors', '4', 'good'): 0.2682926829268293, ('doors', '4', 'unacc'): 0.23563892145369286, ('doors', '4', 'acc'): 0.2696629213483146, ('doors', '2', 'vgood'): 0.125, ('doors', '2', 'good'): 0.21951219512195122, ('doors', '2', 'unacc'): 0.27784290738569756, ('doors', '2', 'acc'): 0.24344569288389514, ('doors', '5more', 'vgood'): 0.3125, ('doors', '5more', 'good'): 0.2682926829268293, ('doors', '5more', 'unacc'): 0.24501758499413834, ('doors', '5more', 'acc'): 0.24719101123595505, ('persons', 'more', 'vgood'): 0.5208333333333334, ('persons', 'more', 'good'): 0.4878048780487805, ('persons', 'more', 'unacc'): 0.2672919109026964, ('persons', 'more', 'acc'): 0.4606741573033708, ('persons', '4', 'vgood'): 0.4791666666666667, ('persons', '4', 'good'): 0.5121951219512195, ('persons', '4', 'unacc'): 0.2567409144196952, ('persons', '4', 'acc'): 0.5393258426966292, ('persons', '2', 'vgood'): 0.0, ('persons', '2', 'good'): 0.0, ('persons', '2', 'unacc'): 0.47596717467760846, ('persons', '2', 'acc'): 0.0, ('lug_boot', 'big', 'vgood'): 0.625, ('lug_boot', 'big', 'good'): 0.2926829268292683, ('lug_boot', 'big', 'unacc'): 0.3212192262602579, ('lug_boot', 'big', 'acc'): 0.3895131086142322, ('lug_boot', 'small', 'vgood'): 0.0, ('lug_boot', 'small', 'good'): 0.34146341463414637, ('lug_boot', 'small', 'unacc'): 0.35756154747948415, ('lug_boot', 'small', 'acc'): 0.26217228464419473, ('lug_boot', 'med', 'vgood'): 0.375, ('lug_boot', 'med', 'good'): 0.36585365853658536, ('lug_boot', 'med', 'unacc'): 0.3212192262602579, ('lug_boot', 'med', 'acc'): 0.34831460674157305, ('safety', 'high', 'vgood'): 1.0, ('safety', 'high', 'good'): 0.43902439024390244, ('safety', 'high', 'unacc'): 0.22860492379835873, ('safety', 'high', 'acc'): 0.5393258426966292, ('safety', 'low', 'vgood'): 0.0, ('safety', 'low', 'good'): 0.0, ('safety', 'low', 'unacc'): 0.47596717467760846, ('safety', 'low', 'acc'): 0.0, ('safety', 'med', 'vgood'): 0.0, ('safety', 'med', 'good'): 0.5609756097560976, ('safety', 'med', 'unacc'): 0.2954279015240328, ('safety', 'med', 'acc'): 0.4606741573033708}

Buatlah fungsi bernama **training_naive_bayes_multinomial** dengan input berupa data latih. Fungsi ini bertujuan membentuk model yang berisi:


1.   Nilai prior semua kelas
2.   Nilai likelihood semua kolom, nilai kolom, dan kelas
3.   Daftar kelas pada data latih (unik)
4.   Daftar nama kolom pada data latih

Return value dari fungsi ini adalah **model**

In [75]:
def training_naive_bayes_multinomial(data_latih):
  #tulis kode Anda disini
  list_columns = data_latih.columns[:-1]
  class_columns_name = data_latih.columns[-1]
  list_class = set(data_latih[class_columns_name])
  prior = hitung_prior(data_latih[class_columns_name])
  (likelihood) = hitung_likelihood_multinomial(data_latih)
  list_columns=data_latih.columns[:-1]
  model = {}
  model['prior'] = prior
  model['likelihood'] = likelihood
  model['list_class'] = list_class
  model['list_columns'] = list_columns
  return model

Jalankan fungsi **training_naive_bayes_multinomial** dan simpan hasilnya dalam variabel **model_tugas**

In [76]:
model_tugas = training_naive_bayes_multinomial(tugas_latih)
print(model_tugas)

{'prior': Counter({'unacc': 0.7055417700578991, 'acc': 0.22084367245657568, 'vgood': 0.03970223325062035, 'good': 0.03391232423490488}), 'likelihood': {('buying', 'vhigh', 'vgood'): 0.0, ('buying', 'vhigh', 'good'): 0.0, ('buying', 'vhigh', 'unacc'): 0.30363423212192264, ('buying', 'vhigh', 'acc'): 0.19101123595505617, ('buying', 'high', 'vgood'): 0.0, ('buying', 'high', 'good'): 0.0, ('buying', 'high', 'unacc'): 0.2708089097303634, ('buying', 'high', 'acc'): 0.2808988764044944, ('buying', 'low', 'vgood'): 0.5833333333333334, ('buying', 'low', 'good'): 0.6585365853658537, ('buying', 'low', 'unacc'): 0.21805392731535755, ('buying', 'low', 'acc'): 0.24344569288389514, ('buying', 'med', 'vgood'): 0.4166666666666667, ('buying', 'med', 'good'): 0.34146341463414637, ('buying', 'med', 'unacc'): 0.20750293083235638, ('buying', 'med', 'acc'): 0.2846441947565543, ('maint', 'high', 'vgood'): 0.1875, ('maint', 'high', 'good'): 0.0, ('maint', 'high', 'unacc'): 0.26025791324736225, ('maint', 'high', 'acc'): 0.2883895131086142, ('maint', 'low', 'vgood'): 0.3958333333333333, ('maint', 'low', 'good'): 0.6585365853658537, ('maint', 'low', 'unacc'): 0.2227432590855803, ('maint', 'low', 'acc'): 0.22846441947565543, ('maint', 'vhigh', 'vgood'): 0.0, ('maint', 'vhigh', 'good'): 0.0, ('maint', 'vhigh', 'unacc'): 0.2895662368112544, ('maint', 'vhigh', 'acc'): 0.1797752808988764, ('maint', 'med', 'vgood'): 0.4166666666666667, ('maint', 'med', 'good'): 0.34146341463414637, ('maint', 'med', 'unacc'): 0.22743259085580306, ('maint', 'med', 'acc'): 0.30337078651685395, ('doors', '3', 'vgood'): 0.22916666666666666, ('doors', '3', 'good'): 0.24390243902439024, ('doors', '3', 'unacc'): 0.24150058616647127, ('doors', '3', 'acc'): 0.2397003745318352, ('doors', '4', 'vgood'): 0.3333333333333333, ('doors', '4', 'good'): 0.2682926829268293, ('doors', '4', 'unacc'): 0.23563892145369286, ('doors', '4', 'acc'): 0.2696629213483146, ('doors', '2', 'vgood'): 0.125, ('doors', '2', 'good'): 0.21951219512195122, ('doors', '2', 'unacc'): 0.27784290738569756, ('doors', '2', 'acc'): 0.24344569288389514, ('doors', '5more', 'vgood'): 0.3125, ('doors', '5more', 'good'): 0.2682926829268293, ('doors', '5more', 'unacc'): 0.24501758499413834, ('doors', '5more', 'acc'): 0.24719101123595505, ('persons', 'more', 'vgood'): 0.5208333333333334, ('persons', 'more', 'good'): 0.4878048780487805, ('persons', 'more', 'unacc'): 0.2672919109026964, ('persons', 'more', 'acc'): 0.4606741573033708, ('persons', '4', 'vgood'): 0.4791666666666667, ('persons', '4', 'good'): 0.5121951219512195, ('persons', '4', 'unacc'): 0.2567409144196952, ('persons', '4', 'acc'): 0.5393258426966292, ('persons', '2', 'vgood'): 0.0, ('persons', '2', 'good'): 0.0, ('persons', '2', 'unacc'): 0.47596717467760846, ('persons', '2', 'acc'): 0.0, ('lug_boot', 'big', 'vgood'): 0.625, ('lug_boot', 'big', 'good'): 0.2926829268292683, ('lug_boot', 'big', 'unacc'): 0.3212192262602579, ('lug_boot', 'big', 'acc'): 0.3895131086142322, ('lug_boot', 'small', 'vgood'): 0.0, ('lug_boot', 'small', 'good'): 0.34146341463414637, ('lug_boot', 'small', 'unacc'): 0.35756154747948415, ('lug_boot', 'small', 'acc'): 0.26217228464419473, ('lug_boot', 'med', 'vgood'): 0.375, ('lug_boot', 'med', 'good'): 0.36585365853658536, ('lug_boot', 'med', 'unacc'): 0.3212192262602579, ('lug_boot', 'med', 'acc'): 0.34831460674157305, ('safety', 'high', 'vgood'): 1.0, ('safety', 'high', 'good'): 0.43902439024390244, ('safety', 'high', 'unacc'): 0.22860492379835873, ('safety', 'high', 'acc'): 0.5393258426966292, ('safety', 'low', 'vgood'): 0.0, ('safety', 'low', 'good'): 0.0, ('safety', 'low', 'unacc'): 0.47596717467760846, ('safety', 'low', 'acc'): 0.0, ('safety', 'med', 'vgood'): 0.0, ('safety', 'med', 'good'): 0.5609756097560976, ('safety', 'med', 'unacc'): 0.2954279015240328, ('safety', 'med', 'acc'): 0.4606741573033708}, 'list_class': {'vgood', 'good', 'unacc', 'acc'}, 'list_columns': Index(['buying', 'maint', 'doors', 'persons', 'lug_boot', 'safety'], dtype='object')}

Buatlah fungsi **testing_naive_bayes_multinomial** untuk mendapatkan kelas dari sebuah data uji. Langkah yang dilakukan hampir sama dengan Gaussian, yaitu mengalikan likelihood semua kolom dengan posterior.

In [78]:
def testing_naive_bayes_multinomial(model,data_uji):
  #tulis kode Anda disini
  prior = model['prior']
  list_class = model['list_class']
  list_columns = model['list_columns']
  likelihood = model['likelihood']
  posterior = dict.fromkeys(list_class, 1)
  for a_class in list_class:
    for column in list_columns:
      posterior[a_class] = posterior[a_class] * likelihood[(column,data_uji[column], a_class)]
    posterior[a_class] = posterior[a_class] * prior[a_class]
  kelas_uji = max(posterior, key=posterior.get)
  return kelas_uji

Lakukan pengujian menggunakan sebuah data uji

In [79]:
idx = 10
uji = tugas_uji.iloc[idx]
kelas_uji = testing_naive_bayes_multinomial(model_tugas,uji)
print(kelas_uji)
print(tugas_label_uji.iloc[idx])

acc
acc

Lakukan pengujian terhadap semua data uji.

In [80]:
prediksi_total =[]
for indeks in range(tugas_uji.shape[0]):
  prediksi_total.append(testing_naive_bayes_multinomial(model_tugas,tugas_uji.iloc[indeks]))
print("Total prediksi benar: ",sum(prediksi_total==tugas_label_uji))

Total prediksi benar:  443

In [81]:
len(tugas_label_uji)

519