# Praktikum Pengantar Pembelajaran Mesin


---
## Bab 2. Pemrosesan Awal Data



### 1) Import Data

Unduh dataset yang akan digunakan pada praktikum kali ini. Anda dapat menggunakan aplikasi **wget** untuk mendowload dataset dan menyimpannya dalam Google Colab. Jalankan cell di bawah ini untuk mengunduh dataset

In [5]:
! wget https://dataset-ppm.s3.amazonaws.com/iris_missing.csv

--2023-03-06 07:33:12--  https://dataset-ppm.s3.amazonaws.com/iris_missing.csv
Resolving dataset-ppm.s3.amazonaws.com (dataset-ppm.s3.amazonaws.com)... 52.219.108.68
Connecting to dataset-ppm.s3.amazonaws.com (dataset-ppm.s3.amazonaws.com)|52.219.108.68|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 4593 (4.5K) [text/csv]
Saving to: ‘iris_missing.csv’

iris_missing.csv    100%[===================>]   4.49K  --.-KB/s    in 0s

2023-03-06 07:33:12 (43.0 MB/s) - ‘iris_missing.csv’ saved [4593/4593]

Setelah dataset berhasil diunduh, langkah berikutnya adalah membaca dataset dengan memanfaatkan fungsi [readcsv](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_csv.html) dari library pandas. Lakukan pembacaan berkas csv menggunakan fungsi **readcsv**. Jangan lupa untuk melakukan import library pandas terlebih dahulu

In [6]:
import pandas as pd
import numpy as np
data = pd.read_csv('iris_missing.csv')

Tampilkan beberapa baris dari dataset untuk mendapatkan informasi singkat mengenai isi data. Gunakan fungsi **head()** untuk menampilkan 5 data pertama.

In [7]:
data.head()

   sepal_length  sepal_width  petal_length  petal_width      Species
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           0.0          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

Berdasarkan informasi dari fungsi **head()**, data iris yang 
digunakan mempunyai 4 fitur sebagai berikut :


1.   sepal length
2.   sepal width
3.   petal length
4.   petal width

### 2) Missing value dan imputasi data




Jika Anda perhatikan dengan seksama, data pada baris ke-3 (index 2) pada fitur sepal length memiliki nilai 0.0. Hal ini menandakan adanya missing value pada data. Jalankan cell di bawah ini untuk mendapatkan semua data yang mengandung missing value. Pencarian data yang mengandung missing value dilakukan dengan tahapan sebagai berikut:


1.   Membuat filter untuk mencari data dengan sepal_length = 0, sepal_width = 0, petal_length = 0, petal_width =0
2.   Mencari data yang memenuhi kondisi1 **atau** kondisi2 **atau** kondisi3 **atau** kondisi4 menggunakan property [loc](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.loc.html) pada dataframe

In [8]:
kondisi1 = data['sepal_length']==0.0
kondisi2 = data['sepal_width']==0.0
kondisi3 = data['petal_length']==0.0
kondisi4 = data['petal_width']==0.0
data.loc[kondisi1|kondisi2|kondisi3|kondisi4]

     sepal_length  sepal_width  petal_length  petal_width          Species
2             0.0          3.2           1.3          0.2      Iris-setosa
11            0.0          3.4           1.6          0.2      Iris-setosa
32            5.2          0.0           1.5          0.1      Iris-setosa
47            4.6          3.2           0.0          0.2      Iris-setosa
51            6.4          0.0           4.5          1.5  Iris-versicolor
65            6.7          3.1           4.4          0.0  Iris-versicolor
67            5.8          2.7           0.0          1.0  Iris-versicolor
86            6.7          0.0           4.7          1.5  Iris-versicolor
107           0.0          2.9           6.3          1.8   Iris-virginica
112           6.8          3.0           0.0          2.1   Iris-virginica
113           5.7          2.5           5.0          0.0   Iris-virginica
139           6.9          3.1           5.4          0.0   Iris-virginica
145           6.7          3.0           5.2          0.0   Iris-virginica

Penanganan missing value pada Pandas akan lebih mudah apabila data yang hilang (bernilai 0.0) diganti dengan NaN (Not A Number). Gunakan properti **replace** pada dataframe untuk menggganti 0.0 menjadi NaN

In [9]:
data = data.replace(0.0,np.NaN)

Terdapat beberapa cara untuk mengatasi permasalahan missing value pada data. Salah satu cara yang sederhana adalah dengan mengganti nilai NaN pada suatu fitur dengan rata-rata nilai fitur tersebut pada data lain yang bernilai bukan Nan. Perhatikan bahwa Anda harus mengganti nilai NaN dengan rata-rata data lain yang memiliki kategori (species) yang sama.

Fungsi-fungsi pada Pandas yang dapat Anda manfaatkan:


1.   **transform** untuk mengaplikasikan fungsi tertentu pada dataframe, pada permasalahan ini fungsi yang digunakan adalah fungsi **mean**
2.   **groupby** untuk mengelompokkan dataframe berdasarkan nilai kolom tertentu, pada permasalahan ini kolom yang digunakan adalah **species**
3. **fillna** untuk mengganti nilai NaN dengan nilai yang telah ditentukan




Buatlah fungsi bernama **imputasi** yang melakukan tahapan berikut:


1.   Menghitung rata-rata masing-masing kolom berdasarkan kelasnya
2.   Mengisi kolom yang berisi NaN dengan rata-rata kelas yang sesuai

In [10]:
def imputasi(df_in):
  df_input = df_in.copy()
  list_columns=df_input.columns
  class_column=list_columns[-1]
  for column in list_columns[:-1]:
   df_input[column]=df_input[column].fillna(df_input.groupby(class_column) [column].transform('mean'))
  return df_input

Buatlah sebuah dataframe baru bernama **data_imputasi** yang berisi dataset dengan nilai NaN yang sudah diganti dengan cara memanggil fungsi **imputasi**.

In [11]:
data_imputasi = imputasi(data)

Cek apakah masih terdapat nilai NaN pada dataframe.

In [12]:
data_imputasi.isnull().values.any()

False

### 3) Normalisasi MinMax
Normalisasi bertujuan menyamakan rentang nilai pada setiap fitur. Beberapa metode pembelajaran mesin memiliki kinerja yang buruk apabila rentang nilai tiap variabel berbeda jauh.

Sebelum melakukan normalisasi, cek terlebih dahulu rentang (nilai max - nilai min) pada masing masing fitur

In [13]:
def cetak_rentang(df_input):
  list_fitur = df_input.columns[:-1]
  for fitur in list_fitur:
    max = df_input[fitur].max()
    min = df_input[fitur].min()
    print("Rentang fitur",fitur,"adalah",max-min)

In [14]:
cetak_rentang(data_imputasi)

Rentang fitur sepal_length adalah 3.6000000000000005
Rentang fitur sepal_width adalah 2.4000000000000004
Rentang fitur petal_length adalah 5.9
Rentang fitur petal_width adalah 2.4

Terlihat bahwa masing-masing fitur memiliki rentang yang berbeda, meskipun tidak terlalu signifikan. Pada praktikum ini Anda akan mengimplementasikan normalisasi MinMax untuk menyamakan rentang setiap fitur menjadi satu (1). Persamaan dari fungsi normalisasi MinMax adalah sebagai berikut: (renntang berbeda akan membuat algoritma menentuka bahwa rentang tertinggi merupakan fitur paling penting)

$x'=\frac{x-min(x)}{max(x)-min(x)}$

dimana $x'$ merupakan nilai ternormalisasi, $x$ adalah nilai asal, $min(x)$ merupakan nilai minimum pada suatu fitur, dan $max(x)$ merupakan nilai maksimum pada suatu fitur.

Implementasikan metode normalisasi MinMax pada fungsi bernama **minmax**.

In [15]:
def minmax(df_input):
  list_fitur = df_input.columns[:-1]
  for fitur in list_fitur:
    max = df_input[fitur].max()
    min = df_input[fitur].min()
    df_input[fitur] = (df_input[fitur]-min)/(max-min)
  return df_input

Buatlah sebuah dataframe baru bernama **data_normal** yang berisi hasil dari metode minmax dengan input **data_imputasi**

In [16]:
data_normal = minmax(data_imputasi)

Cek 5 baris pertama **data_normal**

In [17]:
data_normal.head()

   sepal_length  sepal_width  petal_length  petal_width      Species
0      0.222222     0.625000      0.067797     0.041667  Iris-setosa
1      0.166667     0.416667      0.067797     0.041667  Iris-setosa
2      0.199074     0.500000      0.050847     0.041667  Iris-setosa
3      0.083333     0.458333      0.084746     0.041667  Iris-setosa
4      0.194444     0.666667      0.067797     0.041667  Iris-setosa

Tampilkan rentang masing-masing fitur menggunakan fungsi **cetak_rentang** yang telah dibuat

In [18]:
cetak_rentang(data_normal)

Rentang fitur sepal_length adalah 1.0
Rentang fitur sepal_width adalah 1.0
Rentang fitur petal_length adalah 1.0
Rentang fitur petal_width adalah 1.0

## TUGAS
1. Implementasikan metode normalisasi Z-score dengan cara membuat fungsi bernama **zscore**.
2. Normalisasikan dataframe **data_imputasi** menggunakan fungsi **zscore**. Simpan hasilnya pada dataframe bernama **data_zscore**.
3. Jelaskan perbedaan hasil normalisasi **MinMax** dan **ZScore**. Petunjuk : cek nilai rentang, rata-rata dan standar deviasi dari **data_zscore**.

In [19]:
def zscore(df_in):
  #tuliskan jawaban nomor 1 di sini
  df_input=df_in.copy()
  list_fitur = df_input.columns[:-1]
  for fitur in list_fitur:
    df_input[fitur] = ((df_input[fitur]-df_input[fitur].mean())/df_input[fitur].std())
  return df_input

In [20]:
data_zscore = zscore(data_imputasi)

In [21]:
data_zscore.head()

   sepal_length  sepal_width  petal_length  petal_width      Species
0     -0.907825     1.053430     -1.336763    -1.312509  Iris-setosa
1     -1.152507    -0.110540     -1.336763    -1.312509  Iris-setosa
2     -1.009776     0.355048     -1.393408    -1.312509  Iris-setosa
3     -1.519530     0.122254     -1.280117    -1.312509  Iris-setosa
4     -1.030166     1.286224     -1.336763    -1.312509  Iris-setosa

In [22]:
data_zscore.describe()

       sepal_length   sepal_width  petal_length   petal_width
count  1.500000e+02  1.500000e+02  1.500000e+02  1.500000e+02
mean   2.368476e-16  2.842171e-16  1.421085e-16  4.736952e-17
std    1.000000e+00  1.000000e+00  1.000000e+00  1.000000e+00
min   -1.886553e+00 -2.438481e+00 -1.563346e+00 -1.444215e+00
25%   -9.078253e-01 -5.761283e-01 -1.223471e+00 -1.180803e+00
50%   -5.143868e-02 -1.105402e-01  3.342870e-01  1.362546e-01
75%    6.826070e-01  5.878419e-01  7.591302e-01  7.947835e-01
max    2.517721e+00  3.148577e+00  1.778754e+00  1.716724e+00

In [ ]:
print("Rentang Data MinMax")
cetak_rentang(data_normal)
print("\n")
print("Rentang Data Z Score")
cetak_rentang(data_zscore)

Rentang Data MinMax
Rentang fitur sepal_length adalah 1.0
Rentang fitur sepal_width adalah 1.0
Rentang fitur petal_length adalah 1.0
Rentang fitur petal_width adalah 1.0


Rentang Data Z Score
Rentang fitur sepal_length adalah 4.40427407175924
Rentang fitur sepal_width adalah 5.587057312242887
Rentang fitur petal_length adalah 3.342099429860446
Rentang fitur petal_width adalah 3.160938725348725

Tuliskan jawaban pertanyaan nomor 3 **di sini**

MinMax
*  Nilai rentang dalam praktikum ini semua bernilai 1. Dalam MinMax nilai rentan berada oada antara 0-1 sehingga komputasi dapat berjalan dengan efektif jika rentang tidak sama maka akan membuat algoritma menentukan bahwa rentang tertinggi merupakan fitur paling penting

Z Score
*   Nilai rentang pada atribut akan dinormalisasi berdasarkan mean dan standar deviasi. Secara teori mean akan bernilai 0 dan standar deviasi bernilai 1.